
html, body, h3, p, div {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}
.text-container{
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.search-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

input#inp-word {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 100%;
  position: relative;
}

button#search-btn {
  background-color: transparent;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
}

button#search-btn:hover {
  background-color: #0056b3;
}

/* Style the result section */
.result {
  font-size: 18px;
}


